*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./image/i15.jpg); 
    background-size: 100% 100%;
    background-repeat: repeat;
    transition: 2s ease-in;
}
.wrapper{
    width: 400px;
    background: none;
    opacity: 1;
    border-radius: 7px;
    box-shadow: 20px 20px 20px 20px rgb(0 0 0 / 40%);
}
.wrapper header{
    font-size: 25px;
    font-weight: 500;
    color: #43affc;
    padding: 16px 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}
header i{
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
    display: block;
}
header .icon-back{
    display: none;
}
.wrapper .input-part{
    margin: 20px 25px 30px;
    display: block;
}
.input-part .info-text{
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.input-part .info-text.error{
    color: #721c24;
    display: block;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.input-part .info-text.pending{
    color: #0c5460;
    display: block;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}
.input-part :where(input, button){
    width: 100%;
    height: 55px;
    text-align: center;
    padding: 0px 15px;
    border: none;
    font-size: 18px;
    border-radius: 7px;
}
.input-part input{
    border: 1px solid #ccc;
}

.input-part input:focus{
    outline-style: none;
    border: 2px solid #43affc;    
}
.input-part button{
    cursor: pointer;
    color: #fff;
    background: #43affc;
    transition: 0.3s ease;
}
.input-part .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    content: "or";
    color: #b3b3b3;
    font-size: 19px;
    padding: 0px 15px;
    background: #ccc;
    border-radius: 7px;
}


.weather-part{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.weather-part img{
    max-width: 125px;
}
.weather-part .temp{
    font-size: 72px;
    font-weight: 500;
    display: flex;
    margin-top: 10px
}
.weather-part .temp .numb{
    font-weight: 600;
}
.weather-part .temp .deg{
    font-size: 40px;
    margin: 10px 5px;
}
.weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 10px;
}
.weather-part .location{
    font-size: 21px;
    padding: 0 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.location i{
    font-size: 22px;
    margin: 4px;
}
.bottom-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}
.column{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.column i{
    font-size: 40px;
    color: #5DBBFF;
}
.details .temp{
    font-size: 18px;
    margin: 0px;
}
.details .temp .deg{
    font-size: 18px;
    margin: 0px;
    padding: 0px 4px;
}
.details  p{
    font-size: 17px;
    /* margin-top: -5px; */
}
.details span{
    font-size: 20px;
    font-weight: 500;
}